body {
    margin: 0;
    padding: 0;
}

.canvas-container {
    position: absolute;
    height: 100%;
    left: 0;
    width: 465px;
    border-right: 1px solid #cccccc;
}

.app-container {
    position: absolute;
    height: 100%;
    left: 465px;
    right: 0;
}

.app-container .scan-container {
    padding-top: 25px;
    text-align: center;
}

.app-container .distance-info {
    position: relative;
    margin: 50px auto 0 auto;
    width: 304px;
    height: 328px;
}

.app-container .distance-info .distance {
    width: 62px;
    position: absolute;
}

.app-container .distance-info .distance.top {
    top: -40px;
    left: 50%;
    margin-left: -16px;
}

.app-container .distance-info .distance.left {
    top: 50%;
    left: -80px;
    margin-top: -19px;
}

.app-container .distance-info .distance.bottom {
    bottom: -40px;
    left: 50%;
    margin-left: -16px;
}

.app-container .distance-info .distance .form-control {
    display: inline-block;
    width: 35px;
}